html, body {
    background: linear-gradient( #6e6d6e 45% , #020202 55%);
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

.avatar {
    text-align: end;
    padding-right: 30px;

}

.avatar img {
    width: 50px;
    border-radius: 22px;
}
.container {
    padding: 15%;
    display: flex;
    
}

.form,
.texto {
    width: 50%;
    padding-left: 50px;
    color: white;
}

.nome,
.email,
.fone,
.mensagem {
    padding-bottom: 12px;
    
    
}

.mensagem input {
   padding: 0px 50px 90px;
}

.mensagem {
    max-width: 400px;
}

.botao {
    background-color: #470de8;
    color: white;
    border: none;
    border-radius: 6px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.error {
    border: 2px solid red;
}